<catmplt-form-textfield>
  <!-- 
  Form textfield component
  
  Attributes:
  - data-required="true": Adds a red asterisk (*) before the label to indicate a required field
  - data-border-dark="true": Changes the border color to a darker gray (--gray-700) instead of default
  - required: HTML5 required attribute to enforce validation
-->
  <label data-required="true" for="InputName">Full name</label>
  <input
    type="text"
    id="InputName"
    placeholder="Full name"
    data-border-dark="true"
    required />
</catmplt-form-textfield>
