<catmplt-form-select>
  <!-- 
  Form select component
  
  Attributes:
  - data-required="true": Adds a red asterisk (*) before the label to indicate a required field
  - data-border-dark="true": Changes the border color to a darker gray (--gray-700) instead of default
  - required: HTML5 required attribute to enforce validation
-->
  <label data-required="true" for="Select">Custom select</label>
  <select
    data-border-dark="true"
    required
    aria-label="Custom select example"
    id="Select">
    <option selected="">Select an option</option>
    <option value="3">Option 1</option>
    <option value="2">Option 2</option>
    <option value="1">Option 3</option>
  </select>
</catmplt-form-select>
