---
landing: Components
permalink: standalone-samples/template-skip-to-content.html
title: Template Skip To Content
---

<!-- This meta tag is for responsive design and ensures the page scales correctly on different devices. 
 Omit it if your site has a different method for handling responsive design. -->
<meta name="viewport" content="width=device-width, initial-scale=1" />

{% include
"../../components/catmplt-skip-to-content/catmplt-skip-to-content.html" %}

<style>
  {% include "../../components/catmplt-skip-to-content/catmplt-skip-to-content.html.css" %}
</style>
