---
landing: Components
permalink: template-executive-profile.html
title: Template Executive Profile
---

<!-- This meta tag is for responsive design and ensures the page scales correctly on different devices. 
 Omit it if your site has a different method for handling responsive design. -->
<meta name="viewport" content="width=device-width, initial-scale=1" />

{% include "../../components/template-executive-profile/template-executive-profile.html" %}

<style>
    {% include "../../components/template-executive-profile/template-executive-profile.html.css" %}
</style>
