---
landing: Components
permalink: template-form-textarea.html
title: Template Form Textarea
---

<!-- This meta tag is for responsive design and ensures the page scales correctly on different devices. 
 Omit it if your site has a different method for handling responsive design. -->
<meta name="viewport" content="width=device-width, initial-scale=1" />

{% include "../../components/template-form-textarea/template-form-textarea.html" %}

<style>
    {% include "../../components/template-form-textarea/template-form-textarea.html.css" %}
</style>
