---
landing: Components
permalink: standalone-samples/template-header.html
title: Template Header
---

<!-- This meta tag is for responsive design and ensures the page scales correctly on different devices. 
 Omit it if your site has a different method for handling responsive design. -->
<meta name="viewport" content="width=device-width, initial-scale=1" />

{% include "../../components/catmplt-header/catmplt-header.html" %}

<style>
  {% include "../../components/catmplt-header/catmplt-header.html.css" %}
</style>

<script>
  {% include "../../components/catmplt-header/catmplt-header.html.js" %}
</script>
