---
landing: Components
permalink: template-link-grid.html
title: Template Link Grid
---

<!-- This meta tag is for responsive design and ensures the page scales correctly on different devices. 
 Omit it if your site has a different method for handling responsive design. -->
<meta name="viewport" content="width=device-width, initial-scale=1" />

{% include "../../components/template-link-grid/template-link-grid.html" %}

<style>
    {% include "../../components/template-link-grid/template-link-grid.html.css" %}
</style>
