---
landing: Components
permalink: template-header-full.html
title: Template Header Full
---

<!-- This meta tag is for responsive design and ensures the page scales correctly on different devices. 
 Omit it if your site has a different method for handling responsive design. -->
<meta name="viewport" content="width=device-width, initial-scale=1" />

{% include "./independent-components/template-header-full/template-header-full.html" %}

<style>
    {% include "./independent-components/template-header-full/template-header-full.html.css" %}
</style>

<script>
    {% include "./independent-components/template-header-full/template-header-full.html.js" %}
</script>