---
landing: Components
permalink: template-skip-to-content.html
title: Template Skip To Content
---

<!-- This meta tag is for responsive design and ensures the page scales correctly on different devices. 
 Omit it if your site has a different method for handling responsive design. -->
<meta name="viewport" content="width=device-width, initial-scale=1" />

{% include "./independent-components/template-skip-to-content/template-skip-to-content.html" %}

<style>
    {% include "./independent-components/template-skip-to-content/template-skip-to-content.html.css" %}
</style>
