---
landing: Components
permalink: template-tabs.html
title: Template Tabs
---

<!-- This meta tag is for responsive design and ensures the page scales correctly on different devices. 
 Omit it if your site has a different method for handling responsive design. -->
<meta name="viewport" content="width=device-width, initial-scale=1" />

{% include "../../components/template-tabs/template-tabs.html" %}

<style>
    {% include "../../components/template-tabs/template-tabs.html.css" %}
</style>

<script>
    {% include "../../components/template-tabs/template-tabs.html.js" %}
</script>