---
landing: Components
permalink: template-site-footer.html
title: Template Site Footer
---

<!-- This meta tag is for responsive design and ensures the page scales correctly on different devices. 
 Omit it if your site has a different method for handling responsive design. -->
<meta name="viewport" content="width=device-width, initial-scale=1" />

{% include "./independent-components/template-site-footer/template-site-footer.html" %}

<style>
    {% include "./independent-components/template-site-footer/template-site-footer.html.css" %}
</style>
