---
landing: Components
permalink: cagov-header.html
title: Cagov Header
---

<!-- This meta tag is for responsive design and ensures the page scales correctly on different devices. 
 Omit it if your site has a different method for handling responsive design. -->
<meta name="viewport" content="width=device-width, initial-scale=1" />

{% include "./independent-components/cagov-header/cagov-header.html" %}

<style>
    {% include "./independent-components/cagov-header/cagov-header.html.css" %}
</style>
