---
landing: Components
permalink: template-side-navigation.html
title: Template Side Navigation
---

<!-- This meta tag is for responsive design and ensures the page scales correctly on different devices. 
 Omit it if your site has a different method for handling responsive design. -->
<meta name="viewport" content="width=device-width, initial-scale=1" />

{% include "../../components/template-side-navigation/template-side-navigation.html" %}

<style>
    {% include "../../components/template-side-navigation/template-side-navigation.html.css" %}
</style>

<script>
    {% include "../../components/template-side-navigation/template-side-navigation.html.js" %}
</script>