---
landing: Components
permalink: template-featured-search.html
title: Template Featured Search
---

<!-- This meta tag is for responsive design and ensures the page scales correctly on different devices. 
 Omit it if your site has a different method for handling responsive design. -->
<meta name="viewport" content="width=device-width, initial-scale=1" />

{% include "../../components/template-featured-search/template-featured-search.html" %}

<style>
    {% include "../../components/template-featured-search/template-featured-search.html.css" %}
</style>
