---
landing: Components
permalink: template-form-file-input.html
title: Template Form File Input
---

<!-- This meta tag is for responsive design and ensures the page scales correctly on different devices. 
 Omit it if your site has a different method for handling responsive design. -->
<meta name="viewport" content="width=device-width, initial-scale=1" />

{% include "../../components/template-form-file-input/template-form-file-input.html" %}

<style>
    {% include "../../components/template-form-file-input/template-form-file-input.html.css" %}
</style>
