<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title | title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/> {% include "../head-js-css.njk" -%}
    {%- include "../custom-headers.njk" -%}
  </head>
  <body class="primary">
    <header role="banner" id="header">
      <div id="template-skip-to-content">
        <a href="#main-content">Skip to Main Content</a>
      </div>
      {%- include "../alert.njk" -%}
      {%- include "../site-header.njk" -%}
    </header>
    {% block content -%}
    {{ content | safe }}
  {%- endblock -%}
  {%- include
    "../global-footer.njk" -%}
</body></html>