{%- extends "./base.njk" -%}
{%- block content -%}
<div id="main-content">
  <div class="container pt-4">
    <main class="main-primary" id="main">
      <nav aria-label="You are here" class="template-breadcrumbs">
        <ol>
          <li>
            <a href="/index.html" title="Home page">Home</a>
          </li>
          <li>{{ title | title }}</li>
        </ol>
      </nav>
      <div class="row">
        <div class="col-md-10 pb-5 mx-auto">{{ content | safe }}</div>
      </div>
    </main>
  </div>
</div>{%- endblock -%}