<h2>Sample</h2>
<div style="overflow-x: hidden;">
  <div>
    {% include "../../../components/catmplt-header/catmplt-header.html" %}
  </div>
</div>

<a
  data-btn-bg="default"
  data-btn-size="xs"
  class="mt-5"
  href="/template-header.html">
  Open standalone header
</a>

<h2>Code and notes</h2>

<catmplt-tabs>
  <div data-name="tabs-container">
  <details name="template-tabs">
    <summary>HTML</summary>
    <div>
      <pre><code class="language-html">{{ "./components/catmplt-header/catmplt-header.html" | readFileForCode | safe }}</code></pre>

      <button
        id="copy-html-code-btn"
        data-btn-bg="default"
        data-btn-size="xs"
        class="mt-3">
        Copy code
      </button>
    </div>
  </details>
  <details name="template-tabs">
    <summary>CSS</summary>
    <div>
      <pre><code class="language-css">{{ "./components/catmplt-header/catmplt-header.html.css" | readFileForCode | safe }}</code></pre>

      <button
        id="copy-css-code-btn"
        data-btn-bg="default"
        data-btn-size="xs"
        class="mt-3">
        Copy code
      </button>
    </div>
  </details>
  <details name="template-tabs">
    <summary>JavaScript</summary>
    <div>
      <pre><code class="language-javascript">{{ "./components/catmplt-header/catmplt-header.html.js" | readFileForCode | safe }}</code></pre>

      <button
        id="copy-js-code-btn"
        data-btn-bg="default"
        data-btn-size="xs"
        class="mt-3">
        Copy code
      </button>
    </div>
  </details>
  <details name="template-tabs">
    <summary>About</summary>
    <div>
      {{ "./components/catmplt-header/README.md" | readMarkdownAsHtml | safe }}
    </div>
  </details>
  </div>
</catmplt-tabs>
<style>
  catmplt-tabs [data-name="tabs-container"] pre {
      overflow-x: auto;
      padding: 1rem;
      border: 1px solid #d4d4d7;
      background-color: #f0f0f0;
  }

  catmplt-tabs [data-name="tabs-container"] > details > div > h1 {
      display: none;
  }
</style>
<script>
  {% include "../../../src/js/copy-code.js" %}
</script>
