<div class="template-tabs-container">
    <details name="template-tabs" open>
        <summary>Sample</summary>
        <div class="pb-5">
            Scior skip to content component is only visible on focus. It is used to create a skip to content link for
            your website. To see it in action, use the tab key to navigate to the skip to content link. It will be
            visible when focused and will take you to the main content of the page when clicked.

            {% include "../../../components/template-skip-to-content/template-skip-to-content.html" %}
        </div>
    </details>
    <details name="template-tabs">
        <summary>HTML</summary>
        <div>
            <pre><code class="language-html">{{ "./components/template-skip-to-content/template-skip-to-content.html" | readFileForCode | safe }}</code></pre>

            <button id="copy-html-code-btn" data-btn-bg="default" data-btn-size="xs" class="mt-3">Copy code</button>
        </div>
    </details>
    <details name="template-tabs">
        <summary>CSS</summary>
        <div>
            <pre><code class="language-css">{{ "./components/template-skip-to-content/template-skip-to-content.html.css" | readFileForCode | safe }}</code></pre>

            <button id="copy-css-code-btn" data-btn-bg="default" data-btn-size="xs" class="mt-3">Copy code</button>
        </div>
    </details>
    <details name="template-tabs">
        <summary>JavaScript</summary>
        <div>
            <p>No JavaScript is required for this component.</p>
        </div>
    </details>
    <details name="template-tabs">
        <summary>About</summary>
        <div>
            {{ "./components/template-skip-to-content/README.md" | readMarkdownAsHtml |
            safe }}
        </div>
    </details>
</div>
<style>
    .template-tabs-container pre {
        overflow-x: auto;
        padding: 1rem;
        border: 1px solid #d4d4d7;
        background-color: #f0f0f0;
    }

    .template-tabs-container>details[name="template-tabs"]>div>h1 {
        display: none;
    }
</style>
<script>
    {% include "../../../src/js/copy-code.js" %}
</script>